body {
    margin: 3vw;
    font-family: 'Open Sans', sans-serif;
    font-size : 15px;
    background-color: aliceblue;
}

#titulo {
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.5);
    background-image: url('IMG/background.jpg');
    background-size: cover;
    text-align: center;
}

#diapositivas, #enlaces, #otros {
    background-color: white;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    margin-top: 4px;
    padding: 15px;
}

a{
    font-weight: bold;
}

.textTitle{
    font-size: 20px;
    font-weight: bold;
}

img{
    margin: 2px;
}